/* App */
@font-face {
  font-family: STHeiti;
  src: url("./data/fonts/STHeiti.woff");
}

.App {
  background-color: #373E8D;
}

/* Navigation */
.navbar {
  min-height: 10vh;
}

.logo {
  max-height: 8vh;
}

.nav-item {
  padding: 0 2rem;
}

.nav-link {
  color: #373E8D;
}

/* General styles */
.content-container {
  height: 90vh;
}

.inner-container {
  width: 90%;
}

.container-head {
  width: 100%;
  color: #FFFFFF;
  font-family: STHeiti;
}

/* Home */
.home-container {
  width: 90vw;
  height: 75vh;
  text-align: center;
  color: #373E8D;
  border-radius: 3rem;
}

.home-container h1 {
  font-family: STHeiti;
  font-weight: bold;
}

/* About */
.about-bg {
  background-image: url("data/images/about_bg.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.about {
  color: #FFFFFF;
  width: 50%;
  font-family: STHeiti;
}

.skill-list {
  height: 10rem;
}

/* Project */

.project-card {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .project-card {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .project-card {
    width: 33%;
  }
}

/* Project Detail */
.carousel-item {
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
}

.carousel-caption p {
  background-color: #373E8D;
  opacity: 0;
  transition: all 1s ease;
}

.carousel:hover .carousel-caption p {
  opacity: 0.8;
  transition: all 1s ease;
}


.proj {
  color: #FFFFFF;
}

.proj-head {
  font-family: STHeiti;
  margin: 2rem 0;
  font-weight: bold;
}

.proj-desc p {
  margin: 0.2rem 0;
}

.proj-link a {
  color: #FFFFFF;
}

.proj-link a:hover {
  color: #888888;
  text-decoration: none;
}

/* Contact */
.contact-form {
  color: #FFFFFF;
  width: 60%;
}

.contact-form label {
  width: 100%;
}

.contact-form input, .contact-form textarea {
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

#msg {
  min-height: 5rem;
}

.contact-form button {
  background: transparent;
  border: none;
  float: right;
}