/* App */
@font-face {
  font-family: STHeiti;
  src: url("./fonts/STHeiti.woff");
}

.App {
  background-color: #373E8D;
}

/* Navigation */
.navbar {
  color: #373E8D;
}

h1 {
  font-family: STHeiti;
}

.nav-item {
  padding: 0 2rem;
}