/* App */
@font-face {
  font-family: STHeiti;
  src: url("./data/fonts/STHeiti.woff");
}

.App {
  background-color: #373E8D;
}

/* Navigation */
.navbar {
  color: #373E8D;
  height: 10vh;
}

.navbar h1 {
  font-family: STHeiti;
}

.nav-item {
  padding: 0 2rem;
}

/* General styles */
.content-container {
  height: 90vh;
}

/* Home */
.home-container {
  width: 90vw;
  height: 75vh;
  text-align: center;
  color: #373E8D;
  border-radius: 3rem;
}

.home-container h1 {
  font-family: STHeiti;
  font-weight: bold;
}

/* About */

.about-container {
  color: #FFFFFF;
  height: 75vh;
  width: 40%;
}

.skill-list {
  height: 10rem;
}

.about-image {
  width: 20%;
}

/* Project */
.project-container {
  width: 90%
}

.project-card {
  min-width: 100%
}

@media screen and (min-width: 768px) {
  .project-card {
    min-width: 50%
  }
}

@media screen and (min-width: 992px) {
  .project-card {
    min-width: 33%
  }
}